<div class="container mt-4">
  <h4 class="mb-4"><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h4>

  <%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>
  <table class='table table-borderless'>
    <tr>
      <td>氏名</td>
      <td class='size-input-nameS'><%= f.text_field :last_name, autofocus: true %></td>
      <td><%= f.text_field :first_name %></td>
    </tr>

    <tr>
      <td>フリガナ
      <td><%= f.text_field :last_name_kana %>
      <td><%= f.text_field :first_name_kana %>
    </tr>

    <tr>
      <td>郵便番号
      <td><%= f.text_field :postal_code %>
    </tr>
      <tr>
      <td>住所
      <td colspan="3"><%= f.text_field :address ,size:"70" %>
    </tr>

    <tr>
      <td>電話番号
      <td><%= f.text_field :telephone_number %>
    </tr>

    <tr>
      <td>メールアドレス
      <td><%= f.email_field :email %>
    </tr>

    <tr>
      <td></td>
      <td colspan="2"><%= f.submit "編集内容を保存", class: "mt-3 btn btn-success px-5" %></td>
    </tr>

  </table>
  <% end %>

</div>