<div class="container">

  <div class="row">
    <h4>注文履歴詳細</h4>
  </div>

    <!------------顧客情報テーブル------------>
  <div class="row mb-3">
    <table>
      <tr>
        <td class="font-weight-bold">購入者</td>

        <td><%= link_to admin_customer_path do %>
        <%= @order.customer.last_name + @order.customer.first_name %>
        <% end %></td>
        <td></td>
      </tr>

      <tr>
        <td class="font-weight-bold">注文日</td>
        <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        <td></td>
      </tr>

      <tr>
        <td class="font-weight-bold">配送先</td>
        <td colspan="2"><%= "〒" + @order.postal_code + @order.address %></td>
      </tr>

      <tr>
        <td></td>
        <td><%= @order.name %></td>
        <td></td>
      </tr>

      <tr>
        <td class="font-weight-bold">支払方法</td>
        <td><%= @order.payment_method %></td>
      </tr>

      <tr>
        <td class="font-weight-bold">注文ステータス</td>
        <%= form_with model: @order, url: admin_order_path(@order), local: true, method: :patch do |f| %>
        <td><%= f.select :status, Order.statuses_i18n.invert, {prompt: false} %></td>
        <td><%= f.submit "更新",class: "btn btn-success" %></td>
        <% end %>
      </tr>
    </table>
  </div>


  <!------------注文詳細テーブル------------>
  <div class="row">
    <div class="col-8 border-top">


      <table>
        <th>
          <tr>
            <td>商品名</td>
            <td>単価（税込）</td>
            <td>数量</td>
            <td>小計</td>
            <td>製作ステータス</td>
            <td></td>
          </tr>
        </th>


        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>

            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.price %></td>
            <td><%= order_detail.amount %></td>
            
            <td><%= order_detail.price * order_detail.amount %></td>
              
              <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), local: true, method: :patch do |f| %>
            <td><%= f.select :item_status, [["着手不可","0"], ["製作待ち","1"], ["製作中","2"], ["製作完了","3"]] %></td>
            <td><%= f.submit "更新", class: "btn btn-success" %>
              <% end %>
            </td>
          <% end %>
          </tr>

        </tbody>

      </table>
    </div>


    <!------------金額表示テーブル------------>
    <div class="col-4">
      <table>
        <tr>
          <td class="font-weight-bold">商品合計</td>
          <td><%= @order.total_payment %><%= @order.shipping_cost %> 円</td>
        </tr>

        <tr>
          <td class="font-weight-bold">送料</td>
          <td><%= @order.shipping_cost %> 円</td>
        </tr>

        <tr>
          <td class="font-weight-bold">請求金額合計</td>
          <td><%= @order.total_payment %> 円</td>
        </tr>
      </table>
    </div>


  </div>
</div>